.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-left: 1px solid;
  width: 310px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.title {
  font-size: 20px;
  font-weight: 700;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid;
}

.statList {
  display: flex;
  justify-content: center;
  width: 100%;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.label {
  margin-bottom: 5px;
}
